<div class="container mt-5 text-white">
    <h2 class="mb-4">My Profile</h2>

    <form id="Form" method="POST" action="/profile/update">
        <div class="row mb-3">
        <div class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control text-white" id="firstname" name="firstname" value="{{user.firstname}}">
        </div>
        <div class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control text-white" id="lastname" name="lastname" value="{{user.lastname}}">
        </div>
        </div>
        <div class="row mb-3">
        <div class="col-md-6">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control text-white" id="email" name="email" value="{{user.email}}">
        </div>
        <div class="col-md-6">
            <label for="passport" class="form-label">Reference Number</label>
            <input type="text" class="form-control text-white" id="reference" name="reference" value="{{user.referenceNums}}" readonly>
        </div>
        </div>
        <div class="row mb-3">
        <div class="col-md-6">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control text-white" id="username" name="username" value="{{user.username}}" readonly>
        </div>
        <div class="col-md-6">
            <label for="password" class="form-label">New Password</label>
            <input type="password" class="form-control text-white" id="password" name="password" placeholder="Enter new password (optional)">
        </div>
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button type="reset" class="btn btn-secondary me-2">Cancel</button>
            <button type="submit" class="btn btn-primary me-2">Save Changes</button>
            <button type="button" class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#delete">Delete Account</button>
        </div>
        <div id="formMessage" class="mt-4"></div>
    </form>
</div>