<form action="/flights/add" id="registerForm" method="post">
 <h1 class="dispaly-6 fw-bold text-center my-4">Add Flight</h1>
  <div class="form-floating mb-3">
    <input id="flightNum" name="flightNum" class="form-control" placeholder="please provide a flight number" required value="{{flight.flightNum}}">
    <label>Flight Number</label>
    {{#if errors.flightNum}}
        <div class="text-danger">{{errors.flightNum}}</div>
    {{/if}}
  </div>

  <div class="form-floating mb-3">
    <input id="airline" name="airline" class="form-control" required value="{{flight.airline}}" required>
    <label>Airline</label>
    {{#if errors.airline}}
        <div class="text-danger">{{errors.airline}}</div>
    {{/if}}
  </div>

  <div class="row mb-3">
    <div class="col">
      <div class="form-floating mb-3">
        <input id="aircraftType" type="aircraftType" name="aircraftType" class="form-control"  required value="{{flight.aircraftType}}">
        <label>Aircraft Type</label>
        {{#if errors.airline}}
            <div class="text-danger">{{errors.aircraftType}}</div>
        {{/if}}
      </div>
    </div>

    <div class="form-floating mb-3">
        <select id="origin" name="origin" class="form-select">
            <option value="Manila"> Manila (MNL) </option>
            <option value="Beijing"> Beijing (BJS) </option>
            <option value="Rome"> Rome (ROM) </option>
            <option value="San Francisco"> San Francisco (SFO) </option>
            <option value="Seoul"> Seoul (SEL) </option>
    </select>
    <label>Origin</label>
    {{#if errors.origin}}
      <div class="text-danger">{{errors.origin}}</div>
    {{/if}}
  </div>

   <div class="form-floating mb-3">
        <select id="destination" name="destination" class="form-select">
            <option value="Manila"> Manila (MNL) </option>
            <option value="Beijing"> Beijing (BJS) </option>
            <option value="Rome"> Rome (ROM) </option>
            <option value="San Francisco"> San Francisco (SFO) </option>
            <option value="Seoul"> Seoul (SEL) </option>
    </select>
    <label>Destination</label>
    {{#if errors.destination}}
      <div class="text-danger">{{errors.destination}}</div>
    {{/if}}
  </div>

  <div class="form-floating mb-3">
    <input id="departure" name="departure" type="datetime-local" class="form-control" required value="{{flight.departure}}" required>
    <label>departure</label>
    {{#if errors.departure}}
        <div class="text-danger">{{errors.departure}}</div>
    {{/if}}
  </div>

  <div class="form-floating mb-3">
    <input id="arrival" name="arrival" type="datetime-local" class="form-control" required value="{{flight.arrival}}" required>
    <label>arrival</label>
    {{#if errors.arrival}}
        <div class="text-danger">{{errors.arrival}}</div>
    {{/if}}
  </div>

  <div class="form-floating mb-3">
    <input id="seatCap" name="seatCap" type="number" class="form-control" required value="{{flight.seatCap}}" required>
    <label>Seat Cap</label>
    {{#if errors.seatCap}}
        <div class="text-danger">{{errors.seatCap}}</div>
    {{/if}}
  </div>

  <div class="form-floating mb-3">
    <input id="price" name="price" type="number" class="form-control" required value="{{flight.price}}" required>
    <label>Price</label>
    {{#if errors.price}}
        <div class="text-danger">{{errors.price}}</div>
    {{/if}}
  </div>
    
  <div class=" float-end">
        <button type="submit" id="submitRegister" class="btn btn-success">Submit</button>
      </div>
</form>
